table {
  width: 80%;
  margin: auto;
  border-collapse: collapse;
}
th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}
th {
  background-color: #f2f2f2;
}
.dataTables_filter {
  display: flex;
  justify-content: end;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 90%;
}
.dataTables_filter label {
  font-size: 18px;
  margin-right: 10px;
}

.dataTables_filter input {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ff0a0a;
  border-radius: 4px;
}
/* Menyembunyikan elemen Show entries */
.dataTables_length {
  display: none;
}
